<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLVT_form.Properties.Settings.QLVT_DHConnectionString"
      connectionString="Data Source=DESKTOP-VC4KFV7;Initial Catalog=QLVT_DH;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLVT_form.Properties.Settings.DS" connectionString="Data Source=DESKTOP-VC4KFV7\DSON_1;Initial Catalog=QLVT_DH;User ID=NV6;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QLVT_form.Properties.Settings.QLVT_DHConnectionString1"
      connectionString="Data Source=DESKTOP-VC4KFV7\DSON_2;Initial Catalog=QLVT_DH;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLVT_form.Properties.Settings.QLVT_DHConnectionString2"
      connectionString="Data Source=DESKTOP-VC4KFV7\DSON_2;Initial Catalog=QLVT_DH;User ID=NV5"
      providerName="System.Data.SqlClient" />
    <add name="QLVT_DHConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-VC4KFV7;integrated security=SSPI;initial catalog=QLVT_DH" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>